In [3]:
# if - else
## 18 > vote
age= int(input())
if (age>18):
  print("Eligible to vote")
else:
  print("Not eligible to vote")

18
Not eligible to vote

In [4]:
## 18 > vote
age= int(input())
if (age>=18):
  print("Eligible to vote")
else:
  print("Not eligible to vote")

18
Eligible to vote

In [5]:
## 18 > vote
age= int(input())
if (age>=18):
  print("Eligible to vote")
else:
  print("Not eligible to vote")

17
Not eligible to vote

In [7]:
# write a program to take two input numbers from user and give the number which is bigger
a = (int(input()))
b = (int(input()))
if(a>b):
  print(f" {a} is greater than {b}")
else:
  print(f" {b} is greater than {a}")

55
21
 55 is greater than 21

In [9]:
# if - Elif - Else
a = int(input())
b = int(input())
if(a>b):
  print("a is greater")
elif(a==b):
  print("a and b are equal")
else:
  print("a is smaller")

25
23
a is greater

In [11]:
a = int(input())
b = int(input())
if(a>b):
  print("a is greater")
elif(a==b):
  print("a and b are equal")
else:
  print("a is smaller")

3
22
a is smaller

In [12]:
a = int(input())
b = int(input())
if(a>b):
  print("a is greater")
elif(a==b):
  print("a and b are equal")
else:
  print("a is smaller")

0
0
a and b are equal

In [13]:
# for wnd while
## print 1 to 100 numbers
for n in range (1,101,1):
  print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

In [15]:
# write 5 Table by using range method
for n in range (5,61,5):
  print(n)

5
10
15
20
25
30
35
40
45
50
55
60

In [20]:
# write a proper table by using range method
count = 1
for n in range(5,61,5):
  print( f"5 x {count} = {n}")
  count = count + 1

5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

In [23]:
count = 1
for i in range (9, 91, 9):
  print(f"9 x {count} ={i}")
  count = count + 1

9 x 1 =9
9 x 2 =18
9 x 3 =27
9 x 4 =36
9 x 5 =45
9 x 6 =54
9 x 7 =63
9 x 8 =72
9 x 9 =81
9 x 10 =90

In [25]:
## write a progra to print a series of number
for g in range (2,69,7):
  print(g)

2
9
16
23
30
37
44
51
58
65

In [33]:
## Write a program to print prime number from 2 to 20
a = int(input())
if ( a % 2 == 0 ):
  print ("Prime number")
else:
  print ("Non prime number")

4
Prime number

In [35]:
for num in range (2,101,2):
  print(num)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [36]:
for number in  range (1,101,2):
  print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99