In [1]:
#Example 1:- check pass or fail
marks = 45
if marks >= 40:
  print('pass')
else:
  print('fail')

pass

In [2]:
#Example 2:- check even or odd
num = 8
if num % 2 == 0:
  print('Even number')
else:
  print('odd number')

Even number

In [3]:
#Example 3:- Grading system
marks = 85
if marks >= 90:
  print('Grade A')
elif marks >= 75:
  print('Grade B')
elif marks >= 40:
  print('Grade C')
else:
  print('Fail')

Grade B

In [4]:
#Example 4:- Check age Category
age = 20
if age < 13:
  print('Child')
elif age < 20:
  print('Teenager')
else:
  print('Adult')

Adult

In [8]:
#Example 5:- Print numbers from 1 to 5
for i in range (1,6):
  print(i)
range(1,6)

1
2
3
4
5

range(1, 6)

In [9]:
#Example 6:- Print each character in a string
name = 'Gayathri'
for ch in name:
  print (ch)

G
a
y
a
t
h
r
i

In [10]:
#Example 7:- Sum of numbers
total = 0
for i in range(1,6):
  total = total + 1
print("sum is:", total )

sum is: 5

In [11]:
#Example 8:- print number 1 to 5
i = 1
while i <= 5:
  print(i)
  i = i + 1

1
2
3
4
5

In [12]:
#Example 9:- countdown
count = 5
while count > 0:
  print(count)
  count -= 1

5
4
3
2
1

In [15]:
#Write a program to check wheather a number is divisible by 4 or not,if divisible print that "Number is divisible" otherwise print "Number is not divisible"."""
num = 16
if (num % 4 == 0):
  print(num)

16

In [16]:
#You have to take two number inputs from user. If their sum is greater than 100 print "sum is greater than 100" else print "Error".
a = int(input())
b = int(input())
if (a + b > 100):
  print("sum greater than 100")
else:
  print("Error")

12
98
sum greater than 100

In [17]:
#four friends are there rita,mita,sita,gita and their marks in test is 30,40,50,60 respectively.
#Write a program to take name from user. if the input name matches the name of any friend print her marks.
a = input()
if(a == 'rita'):
  print(30)
elif(a =='mita'):
  print(40)
elif(a == 'sita'):
  print(50)
else:
  print(60)

rita
30

In [22]:
for i in range (1,10):
  if(i == 5):
    continue
  print(i)

1
2
3
4
6
7
8
9

In [23]:
for i in range (1,6):
  if i == 3:
    pass
  print(i)

1
2
3
4
5

In [24]:
for i in range (1,8):
  if i == 7:
    continue
  print(i)

1
2
3
4
5
6

In [25]:
#Write a program for a number in range (21,51) if the number is greater than 40 then break it otherwise print all numbers. if the number is 35 don't print it.
for i in range (21,51):
  if i == 40:
    break
  print(i)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39

In [28]:
for i in range (21,51):
  if i == 35:
    continue
  print(i)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

In [29]:
for i in range (21,51):
  if i == 35:
    pass
  print(i)

21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50